/* /==============/ */
/* /=============/ */

main {
  padding-top: 100px;
  min-height: 100vh;
  background-image: url("../images/bg7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.filter {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.178));
  z-index: 2;
}
.content {
  z-index: 10;
}
.card {
  background-color: rgba(255, 255, 255, 0.473);
  min-height: 220px;
}
.card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.card .icon span {
  font-size: 50px;
}
.date-box  {
  background: #0000008c;
  border-radius: 20px;
}
.time {
  font-size: 20px;
  font-weight: 600;
}
.form-select:focus {
  box-shadow: none;
}
.form-select {
    background-color: rgba(255, 255, 255, 0.459);
}
